<h1>The courses are</h1>
Here we want a ul list with the instructor, coursenum, title, term
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Author</th>
            <th>Country #</th>
            <th>Language</th>
            <th>Pages</th>
            <th>Title</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (book of books) {
        const title = book.title;
        const author = book.['author'];
        const country = book.['country'];
        const language = book.['language'];
        const pages = book.['pages'];
        const year = book.['years'];
        %>
    }
    <tr class="mb">
        <td><%=title %></td>
        <td><%=author %></td>
        <td><%=country %></td>
        <td><%=language %></td>
        <td><%=pages %></td>
        <td><%=year %></td>
    </tr>
    </tbody>
</table>